includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - src

    level: 6

    reportUnmatchedIgnoredErrors: false

    ignoreErrors:
        - '#Access to an undefined property Rflex\\Entities\\*#'

    excludePaths:
        - ./src/NominusServiceProvider.php

    checkMissingIterableValueType: false
